.timer {
  width: 100%;
  
  font-family: Roboto Mono, Consolas, Courier;
  text-align: center;

  border: solid 5px rgba(0,0,0,0);
  border-radius: 8px;

  font-size: 60px;
  @media(orientation: landscape) {
    font-size: 90px;
  }

  @media(min-width: 800px) {
    font-size: 100px;
  }
}