.timer {
  width: 100%;
  
  border-left: solid 50px rgba(0,0,0,0);
  border-right: solid 50px rgba(0,0,0,0);

  display: grid;
  grid-template-areas: 
    "player player"
    "clock  clock"
    "round  turn";

  .timer__clock {
    grid-area: clock;

    font-family: Roboto Mono, Consolas, Courier;
    text-align: center;
    font-size: 60px;

    @media(orientation: landscape) {
      font-size: 90px;
    }

    @media(min-width: 800px) {
      font-size: 100px;
    }
  }

  .timer__player {
    grid-area: player;

    font-weight: bold;
    padding: 0 var(--pad);
  }

  .timer__round {
    grid-area: round;

    padding: 0 var(--pad);
  }

  .timer__turn {
    grid-area: turn;

    text-align: right;
    padding: 0 var(--pad);
  }

  &--no-clock {
    grid-template-areas: 
      "player player"
      "round turn";

    .timer__player {
      font-family: Roboto Mono, Consolas, Courier;
      text-align: center;
      font-size: 60px;
    }

    .timer__clock {
      display: none;
    }
  }
}