.session-stats {
  .session-stats__title {
    text-align: center;
  }

  .game-stats {
    h2 {
      font-weight: normal;
      font-size: 1rem;
      margin: 0;
      padding: var(--pad);
    }
  }

  .game-stats__overview-player {
    position: relative;
    padding: var(--pad);
  }

  .game-stats__highlights {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .game-stats__highlight {
      display: inline-block;
    }
  }

  .stats-highlight {
    text-align: center;
    margin-top: var(--pad2);

    .stats-highlight__title {
      font-weight: bold;
    }

    .stats-highlight__icon {
      font-size: 2rem;
    }
  }

  .player-stats {
    h2 {
      margin: 0;
      font-size: 1rem;
    }

    .player-stats__turns-turn {
      position: relative;
      padding: 0 var(--pad);
      margin-bottom: 1px;
    }
  }

  .game-stats__color-background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}