.home {
  .home__hero {
    padding-left: var(--pad2);
    padding-right: var(--pad2);
    margin-top: 10vh;
    margin-bottom: 10vh;

    text-align: center;
  }

  .home__controls {
    text-align: center;
  }
}