/* utility */

.page__container {
  max-width: 864px;
  margin: 0 auto;
}

.page__loader {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  min-height: 100vh; 
}

.--button-like {
  text-align: center;
  padding: var(--pad) var(--pad3);
  margin: var(--pad) 0;
  
  background: var(--color-primary);
  color: var(--color-font-contrast);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:link, &:visited {
    color: var(--color-font-contrast);
  }
}

/* page template styles */
.page {
  min-height: 100vh;

  background: var(--layout-c-bg);

  .page__content {
    padding: var(--pad);

  }

  .page__foot {
    margin-top: var(--pad2);

    a:link, a:visited {
      color: #666;
    }
  }
}